:root {
  --first-font: "Inter", sans-serif;
  --second-font: "Manrope", sans-serif;
  --main-color: #24272e;
  --secondary-color: #555c68;
  --additional-bgd: rgba(240, 231, 20, 0.2);
  --accent-color: #f0e714;
  --dark-background: #101c26;
  --additional-color: #f3f4f6;
  --white-color: #ffffff;
  --light-grey: #bab9b9;
  --color-cecece: #cecece;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--first-font);
  background-color: var(--additional-color);
}

.container {
  max-width: 1308px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Base styles */

.subtitle {
  color: var(--main-color);
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 1000px;
  background: var(--additional-bgd);
  display: inline-block;
  padding: 10px 16px;
  margin-bottom: 24px;
}

.title {
  font-size: 44px;
  font-family: var(--second-font);
  font-weight: 600;
  line-height: calc(56 / 44);
  margin-bottom: 16px;
  max-width: 628px;
}

.description {
  color: var(--secondary-color);
  font-size: 20px;
  line-height: calc(30 / 20);
  margin-bottom: 40px;
  max-width: 477px;
}

/* Header section */

.header {
  background: var(--dark-background);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 337px;
}

.header-nav {
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-item {
  padding-top: 48px;
  padding-bottom: 55px;
}

.header-nav-link {
  color: var(--light-grey);
  font-size: 16px;
  font-family: var(--second-font);
  font-weight: 500;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--white-color);
}

.current {
  color: var(--white-color);
  position: relative;
}

.current::after {
  content: "";
  width: 43px;
  height: 1px;
  background: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -6px;
}

.header-signin-btn {
  color: var(--color-cecece);
  font-size: 16px;
  font-family: var(--second-font);
  font-weight: 500;
  line-height: calc(24 / 16);
  background: transparent;
  border-radius: 100px;
  border: 1px solid var(--color-cecece);
  padding: 13px 32px;
  cursor: pointer;
  margin-right: 16px;
  margin-left: auto;
}

.header-singup-btn {
  color: var(--dark-background);
  font-size: 16px;
  font-family: var(--second-font);
  font-weight: 500;
  line-height: calc(24 / 16);
  border-radius: 100px;
  background: var(--accent-color);
  padding: 13px 39px;
  cursor: pointer;
}

/* Hero section */

.hero {
  background: var(--dark-background);
  padding-top: 44px;
  padding-bottom: 60px;
}

.hero-container {
  display: flex;
  gap: 74px;
  align-items: center;
  padding-left: max(15px, calc((100% - 1278px) / 2));
}

.hero-content-wrapper {
  position: relative;
  flex-shrink: 0;
}

.hero-title {
  color: var(--additional-color);
  font-size: 50px;
  font-family: var(--second-font);
  line-height: calc(66 / 60);
  letter-spacing: 0.037em;
  margin-bottom: 24px;
  max-width: 534px;
}

.hero-desc {
  color: var(--additional-color);
}

.hero-star-icon {
  position: absolute;
  right: 30px;
  top: 175px;
}

.hero-btn-list {
  display: flex;
  gap: 23px;
  align-items: center;
  margin-bottom: 75px;
}

.hero-btn {
  color: var(--main-color);
  font-size: 16px;
  font-family: var(--second-font);
  font-weight: 500;
  line-height: calc(24 / 16);
  min-width: 197px;
  height: 60px;
  border-radius: 100px;
  background: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.hero-arrow-icon {
}

.hero-video-btn {
  color: var(--white-color);
  font-size: 16px;
  font-family: var(--second-font);
  font-weight: 500;
  line-height: calc(24 / 16);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.hero-play-icon {
}

.hero-stat-list {
  display: flex;
  gap: 32px;
}

.hero-stat-item {
}

.hero-stat-num {
  color: var(--accent-color);
  font-size: 44px;
  font-family: var(--second-font);
  font-weight: 600;
  line-height: calc(56 / 44);
  margin-bottom: 10px;
  text-align: center;
}

.hero-stat-text {
  color: var(--white-color);
  font-size: 16px;
  font-family: var(--second-font);
  font-weight: 500;
  line-height: calc(28 / 16);
}

.hero-img-wrapper {
  position: relative;
  width: calc(100% - 534px - 74px);
}

.hero-chart-img {
  border-radius: 10px;
  position: absolute;
  bottom: 65px;
  left: -20%;
}

.hero-dot-icon {
  position: absolute;
  top: -20px;
  left: 20px;
}

.hero-img {
}

/* About section */

.about {
  padding-top: 140px;
  padding-bottom: 140px;
  /* background-color: var(--additional-color); */
}

.about-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.about-img-wrapper {
  position: relative;
}

.about-img {
}

.about-dots {
  position: absolute;
  left: -43px;
  bottom: -49px;
  z-index: -1;
}

.about-btn {
  color: var(--accent-color);
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
  line-height: calc(22 / 14);
  border-radius: 100px;
  background: var(--main-color);
  min-width: 160px;
  height: 46px;
  cursor: pointer;
}

.about-icon {
  fill: var(--accent-color);
  margin-left: 6px;
}

/* Choose section */

.choose {
  padding-bottom: 140px;
  /* background-color: var(--additional-color); */
}

.choose-container {
  display: flex;
  gap: 31px;
  align-items: center;
  justify-content: space-between;
}

.choose .title {
  max-width: 500px;
}

.choose-list {
}

.choose-item {
  /* :not(:last-child) */
  /* margin-bottom: 24px; */
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  /* display: inline-block;
  width: 450px; */
}

.choose-item:last-child {
  margin-bottom: 0;
}

.choose-icons {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-icon {
  fill: var(--accent-color);
}

.choose-wrapper {
  width: 357px;
}

.choose-list-title {
  color: var(--main-color);
  font-size: 20px;
  font-family: var(--second-font);
  font-weight: 600;
  line-height: var(32 / 20);
  letter-spacing: 0.011em;
  margin-bottom: 6px;
}

.choose-list-desc {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: calc(24 / 16);
  /* margin-bottom: 24px; */
}

.choose-img-wrapper {
  position: relative;
}

.choose-img {
}

.choose-dots {
  position: absolute;
  right: -54px;
  bottom: -55px;
  z-index: -1;
}

/* Services section */

.services {
  /* background-color: var(--additional-color); */
  padding-bottom: 138px;
}

.services-container {
}

.services-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .title {
  width: 495px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.services .description {
  max-width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.services-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.services-list-item {
  padding: 32px;
  width: calc((100% - 90px) / 4);
  background-color: var(--white-color);
  border-radius: 10px;
background: #FFF;
box-shadow: 0px 30px 50px -10px rgba(152, 151, 151, 0.37);

Show 1 more color

Frame 38509
Icon · 58 x 58

}

.services-icon {
  margin-bottom: 24px;
}

.services-item-title {
  color: var(--main-color);
  font-size: 24px;
  font-family: var(--second-font);
  font-weight: 600;
  line-height: calc(32 / 24);
  margin-bottom: 12px;
  max-width: 181px;
}

.services-item-text {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: calc(20 / 18);
  letter-spacing: 0.011em;
}
